:root {
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
  --gradient-bg: linear-gradient(#92a4bf, #ffffff);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font);
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 96px;
}

h3 {
  margin: 0 auto;
}

p {
  font-family: var(--default-font);
}

.hero {
  background: linear-gradient(#92a4bf, #ffffff);
  text-align: center;
  padding: 130px 20px 70px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-weight: normal;
  font-family: var(--default-font);
  line-height: 2;
  font-size: 24px;
}

.btn-branding {
  background: white;
  border-color: #272142;
  border-radius: 40px;
  color: black;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  margin-bottom: 0px;
}

.desert-landscape {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.music-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.image-title {
  text-align: center;
  line-height: 2.5;
  font-weight: bold;
}

.container {
  margin-top: 50px;
  margin-bottom: 150px;
}

@media (max-width: 800px) {
  .album-image {
    display: block;
    text-align: center;
  }

  h1 {
    font-size: 50px;
  }

  .aboutme-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

.about-heading {
  margin-top: 60px;
}

.aboutme-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  border-radius: 2000px;
}

.music-caption {
  padding: 0 0 50px;
}

.about-body,
.music-body,
.contact-body {
  background: var(--gradient-bg);
  padding: 130px 20px 70px;
}

.song-caption {
  font-style: italic;
}

.contact-info {
  display: block;
  padding: 20px 0 20px;
}
